/* Estilos para los botones dentro del navbar */
.navbar .btn {
    color: white;
}

/* Estilos para los botones del navbar en el estado de hover */
.navbar .btn:hover {
    background-color: rgb(60, 102, 109);
}

/* Estilos para los botones fuera del navbar */
.btn {
    color: white;
    background-color: rgb(60, 102, 109);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    transition: background-color 0.3s;
}

/* Estilos para los botones fuera del navbar en el estado de hover */
.btn:hover {
    background-color: rgb(50, 82, 89);
}

/* Estilos específicos para el botón "Mostrar todas las bicicletas" */
#showAllBikes {
    background-color: rgb(80, 122, 129);
}

/* Estilos para el logotipo */
.logo {
    margin: 0;
    padding: 0;
    width: 3%;
    height: 10%;
}

@media only screen and (min-device-width:200px) and (max-device-width:1200px) {
    .logo {
        height: 15%;
        width: 14%;
    }
}

/* Estilos para los enlaces */
a {
    margin-left: 5px !important;
    color: white;
}

/* Estilos generales */
body {
    background-color: gray;
}

.container-sm {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 20%;
}

.form_cont {
    background-color: white;
    padding: 30px;
    border-radius: 2%;
    padding-top: 10%;
}
