.btn{
    color: white;
}
.btn:hover{
    background-color: #F2F2F2;
    color: white;
}

.logo{
    margin: 0;
    padding: 0;
    width: 3%;
    height: 10%;
}
@media only screen  and (min-device-width:200px) and (max-device-width:1200px){
    .logo{
        height: 15%;
        width: 14%;
    }
}

a{
    margin-left: 5px !important;
}
body{
    background-color: gray;
}
a{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container-sm{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 20%;
}

.form_cont{
    background-color: white;
    padding: 30px;
    border-radius: 2%;
    padding-top: 10%;
}